<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Kullanıcı Kayıt</title>
</head>
<body>
<h1>Kullanıcı Kayıt Formu</h1>
<form action="#" th:action="@{/api/users/register}" th:object="${user}" method="post">
  <p>Kullanıcı Adı: <input type="text" th:field="*{username}" /></p>
  <p>Şifre: <input type="password" th:field="*{password}" /></p>
  <p>Email: <input type="email" th:field="*{email}" /></p>
  <p>Rol: <select th:field="*{role}">
    <option value="USER">Kullanıcı</option>
    <option value="ADMIN">Yönetici</option>
  </select>
  </p>
  <p><input type="submit" value="Kaydet" /></p>
</form>
</body>
</html>
