<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${restaurant.name}"></title>
  <script>
    function addToCart(button) {
      var itemName = button.getAttribute('data-item-name');
      alert(itemName + ' sepete eklendi');
    }
  </script>
</head>
<body>

<h1 th:text="${restaurant.name}"></h1>
<p th:text="${restaurant.location}"></p>
<p th:text="${restaurant.description}"></p>

<h2>Menüler:</h2>
<ul>
  <li th:each="menu : ${menus}">
    <h3 th:text="${menu.id}"></h3>
    <!-- Diğer menü detaylarını burada göster -->
    <ul>
      <li th:each="item : ${menu.items}">
        <p th:text="${item.item} + ' - ' + ${item.price}"></p>
        <button th:attr="data-item-name=${item.item}" onclick="addToCart(this)">Sepete Ekle</button>
      </li>
    </ul>
  </li>
</ul>

<!-- Sepete Git Butonu -->
<form th:action="@{/api/menus/cart}" method="post">
  <button type="submit">Sepete Git</button>
</form>

</body>
</html>
